<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlets.index</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPage</servlet-name>
        <servlet-class>Servlets.InscriptionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierPage</servlet-name>
        <servlet-class>Servlets.PanierPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionController</servlet-name>
        <servlet-class>Servlets.InscriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionPage</servlet-name>
        <servlet-class>Servlets.ConnexionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionController</servlet-name>
        <servlet-class>Servlets.ConnexionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>Servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatPage</servlet-name>
        <servlet-class>Servlets.ChatPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChienPage</servlet-name>
        <servlet-class>Servlets.ChienPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoissonPage</servlet-name>
        <servlet-class>Servlets.PoissonPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OiseauPage</servlet-name>
        <servlet-class>Servlets.OiseauPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiversPage</servlet-name>
        <servlet-class>Servlets.DiversPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adresseLivraisonPage</servlet-name>
        <servlet-class>Servlets.adresseLivraisonPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adresseLivraisonController</servlet-name>
        <servlet-class>Servlets.adresseLivraisonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>InscriptionPage</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionController</servlet-name>
        <url-pattern>/InscriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionPage</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionController</servlet-name>
        <url-pattern>/ConnexionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatPage</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierPage</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChienPage</servlet-name>
        <url-pattern>/Chien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoissonPage</servlet-name>
        <url-pattern>/Poisson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OiseauPage</servlet-name>
        <url-pattern>/Oiseau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiversPage</servlet-name>
        <url-pattern>/Divers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adresseLivraisonPage</servlet-name>
        <url-pattern>/adresseLivraison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adresseLivraisonController</servlet-name>
        <url-pattern>/adresseLivraisonController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
