<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlets.index</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPage</servlet-name>
        <servlet-class>Servlets.InscriptionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionController</servlet-name>
        <servlet-class>Servlets.InscriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionPage</servlet-name>
        <servlet-class>Servlets.ConnexionPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>InscriptionPage</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionController</servlet-name>
        <url-pattern>/InscriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionPage</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
