body
{
    background-color: #fcfcfc;
}

.container
{
    margin: auto; /* eh oui, tout bêtement */
}
#inscription .card-panel, #connexion .card-panel
{
    margin: auto;
}

.input-field .prefix
{
    margin-top: 6px !important;
}

.erreur
{
    color : red;
}

#erreur, #valider
{
    color: white;
}

.breadcrumb:last-child
{
    color: rgba(255, 255, 255, 0.7) !important;
}

#panier, #address, #payement, #confirmation
{
    color: #fff;
}

#card-alert i
{
    font-size: 20px;
    position: relative;
    top: 3px;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
    display: flex;
}

#menu, .pulse
{
    position: absolute !important;
    bottom: 50px !important;
    right: 50px !important;
}