body
{
    background-color: #fcfcfc;
    overflow-x: hidden !important;
}

.card-action-buttons
{
    float: right;
    margin: -20px 10px 0 0;
    display: inline-flex;
}

.container
{
    margin: auto; /* eh oui, tout bêtement */
}
#inscription .card-panel, #connexion .card-panel, #adresseLivraison .card-panel
{
    margin: auto;
}

.input-field .prefix
{
    margin-top: 6px !important;
}

.erreur
{
    color : red;
}

#erreur, #valider
{
    color: white;
}

.breadcrumb:last-child
{
    color: rgba(255, 255, 255, 0.7) !important;
}

#panier, #address, #payement, #confirmation
{
    color: #fff;
}

#card-alert i
{
    font-size: 20px;
    position: relative;
    top: 3px;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
    display: flex;
}

.btn-floating.btn-large
{
    margin: 10px 0 0 10px;
}

#menu
{
    right: 50px !important;
    position: fixed !important;
    margin-top: 50vh;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    float: right;
}

.tap-target-origin
{
    margin: 0 !important;
}


.card-action-buttons li:last-child
{
    margin-left: 5px;
}